html {
    height: 100%;
    
}

body {
    height: 100%;
    background-color: #002;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#DrumPad {
    position: relative;
    height: 490px;
    width: 490px;
}

#Nummer1 {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #144040;
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

#Nummer2 {
    position: absolute;
    top: 10px;
    left: 170px;
    background-color: #146A6A;
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

#Nummer3 {
    position: absolute;
    top: 10px;
    left: 330px;
    background-color:  #00CBCB;
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

#Nummer4 {
    position: absolute;
    top: 170px;
    left: 10px;
    background-color:   #485320;
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

#Nummer5 {
    position: absolute;
    top: 170px;
    left: 170px;
    background-color: #1F7700;
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

#Nummer6 {
    position: absolute;
    top: 170px;
    left: 330px;
    background-color: #2DB42D;
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

#Nummer7 {
    position: absolute;
    top: 330px;
    left: 10px;
    background-color: #FF6D3C;
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

#Nummer8 {
    position: absolute;
    top: 330px;
    left: 170px;
    background-color: #FFAD3C;
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

#Nummer9 {
    position: absolute;
    top: 330px;
    left: 330px;
    background-color: #FFED3C;
    height: 150px;
    width: 150px;
    border-radius: 10%;
}


#play-button {
    position: absolute;
    top: 480px;
    left: 170px;
}