html {
    height: 100%;
}

body {
    background-image: url("Images/bg.png");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.Karte {
    position: relative;
   
}

.WeißerStern {
    position: absolute;
    top: 29px;
    left: 37px;
}

.WeißerStern1 {
    position: absolute;
    top: 150px;
    left: 200px;
}

.WeißerStern2 {
    position: absolute;
    top: 300px;
    left: 300px;
}

.WeißerStern3 {
    position: absolute;
    top: 250px;
    left: 500px;
}

.WeißerStern4 {
    position: absolute;
    top: 150px;
    left: 400px;
}

.WeißerStern:hover, 
.WeißerStern1:hover, 
.WeißerStern2:hover, 
.WeißerStern3:hover, 
.WeißerStern4:hover {
    background-image: url("Sticker/stern_hover.png");

}


.MerryChristmas {
    position: absolute;
    left: 100px;
    top: 30px;
    color:white;
    text-align: center;
    font-family: Apple Chancery; 
    
}

h1 {
    font-family: Apple Chancery;
    font-size: 300%;
}

.Text {
    color: white;
    width: 400px;
    font-family: Verdana;
    position: absolute;
    left: 50px;
    top: 170px;
    font-size: 100%;
}
